@{
    ViewData["Title"] = "Welcome Page";
}

<h2>Welcome!!!!!!!!</h2>

<p> Links For Manage Products and Categories</p>

<div>
    <a href="@Url.Action("Index", "Product")" class="btn btn-primary">Manage Products</a>
    <a href="@Url.Action("Index", "Category")" class="btn btn-primary">Manage Categories</a>
</div>

